/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  /*** Theme setup ***/

  /* font family */
  --font-base: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  text-align: center;
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.green-main {
  color: var(--clr-green-400);
}

.robust {
  background-color: var(--clr-robust);
}

.green {
  background-color: var(--clr-green);
}

.flower {
  background-color: var(--clr-flower);
}

.colorful {
  background-color: var(--clr-colorful);
}

.sunloving {
  background-color: var(--clr-sunloving);
}

.air {
  background-color: var(--clr-air);
}

.decorative {
  background-color: var(--clr-decorative);
}

.edible {
  background-color: var(--clr-edible);
}

.easy {
  background-color: var(--clr-easy);
}

.fragrant {
  background-color: var(--clr-fragrant);
}

.fast {
  background-color: var(--clr-fast);
}

/* Main content */

.header {
  background-color: white;
  padding: 0.3rem;
  display: flex;
  justify-content: center;

  @media (width < 760px) {
    padding: 1rem;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 70rem;

    @media (width < 1100px) {
      justify-content: space-between;
    }

    .plannedParenthood-container {
      display: flex;
      img {
        height: 2.2rem;
        margin-right: 0.5rem;
      }

      .plannedPlanthood {
        line-height: 0.8;
        align-self: center;
        font-weight: var(--fw-500);
      }
    }

    .headerNavigation {
      display: flex;
      ul {
        display: flex;
        font-weight: var(--fw-medium);
        font-size: 0.9rem;
        align-self: center;

        @media (width < 760px) {
          display: none;
        }

        li {
          a {
            height: 100%;
            padding: 1rem;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:focus-visible {
              text-decoration: none;
              color: #ffffff;
              background-color: var(--clr-accent);
            }
          }
        }
      }
    }

    .headerMenuImg {
      display: none;

      @media (width < 760px) {
        display: inline-block;
      }
    }
  }
}

.plantSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
  padding-inline: 1rem;

  h1 {
    font-weight: var(--fw-500);
  }

  p {
    text-align: center;
    max-width: 60ch;
  }

  .plantGallery {
    max-width: 70rem;
    width: 100%;
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, minmax(13rem, 16rem));
    background-color: white;
    box-shadow: var(--border-shadow);

    grid-template-areas:
      'plantGalleryImage1 plantGalleryImage1 plantGalleryImage2 plantGalleryImage3 plantGalleryImage4 plantGalleryImage4'
      'plantGalleryImage1 plantGalleryImage1 plantGalleryImage5 plantGalleryImage5 plantGalleryImage6 plantGalleryImage6';

    @media (width < 1100px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'plantGalleryImage1 plantGalleryImage2 plantGalleryImage3 '
        'plantGalleryImage4 plantGalleryImage5 plantGalleryImage6 ';
    }

    @media (width < 760px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        'plantGalleryImage1 plantGalleryImage2 '
        'plantGalleryImage3 plantGalleryImage4 '
        'plantGalleryImage5 plantGalleryImage6';
    }
  }

  .plantGalleryImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-area: plantGalleryImage1;
  }
  .image2 {
    grid-area: plantGalleryImage2;
  }
  .image3 {
    grid-area: plantGalleryImage3;
  }
  .image4 {
    grid-area: plantGalleryImage4;
  }
  .image5 {
    grid-area: plantGalleryImage5;
  }
  .image6 {
    grid-area: plantGalleryImage6;
  }
}

.newsletter {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;

  @media (width < 760px) {
    flex-direction: column-reverse;
    gap: 0;
    padding-inline: 1rem;
  }

  .newsletterFormAndTitle {
    max-width: 40ch;

    h2 {
      text-align: start;
      padding-block: 2rem;

      @media (width < 760px) {
        text-align: center;
      }
    }

    form {
      color: black;
      border: 1px black solid;
      display: flex;
      border-radius: 2rem;

      button {
        border: none;
        width: 9ch;
        background-color: var(--clr-accent);
        padding-block: 0.4rem;
        padding-inline: 1rem;
        border-radius: 2rem;
        margin: 2px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus-visible {
          cursor: pointer;
          color: var(--clr-accent);
          background-color: #ffffff;
          border: 1px solid var(--clr-accent);
        }
      }

      .emailInput {
        width: 100%;
        background-color: #ffffff;
        color: black;
        border: none;
        padding-block: 0.5rem;
        padding-left: 2rem;
        margin-right: 0.2rem;
        border-radius: 2rem 0 0 2rem;

        @media (width < 760px) {
          padding-left: 1rem;
        }
      }
    }
  }

  img {
    background-color: var(--clr-accent);
    border-radius: 50%;
    width: 15rem;
    padding: 3.5rem;

    @media (width < 760px) {
      width: min(100%, 20rem);
    }
  }
}

.mainTitle {
  padding: 0.5rem;
  padding-top: 3rem;
}

.main {
  display: flex;
  justify-content: center;
  .cardOuterDiv {
    max-width: 70rem;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(13rem, 16.7rem));
    gap: 1rem;
    padding: 1rem;

    @media (width < 1100px) {
      width: 100%;
      grid-template-columns: repeat(3, minmax(10rem, 1fr));
    }

    @media (width < 760px) {
      grid-template-columns: minmax(10rem, 1fr);
    }

    .card {
      display: grid;
      grid-template-rows: auto 1fr;
      background-color: white;
      /* border-radius: 1rem; */
      box-shadow: var(--border-shadow);

      .cardImageContainer {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 40%;
          height: 40%;
          top: 50%;
          left: 50%;
          background-image: url('./assets/images/icon-watermark.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          pointer-events: none;
          opacity: 0.4;
          transform: translate(-50%, -50%);
        }

        img {
          width: 100%;
          aspect-ratio: 1/1;
          /* border-radius: 1rem 1rem 0 0; */
          overflow: clip;
          object-fit: cover;
        }
      }

      h3 {
        padding-block: 1rem;
      }

      .cardInfoBox {
        display: grid;
        align-items: start;
        grid-template-rows: minmax(3.5rem, auto) auto 1fr auto;
        padding: 1rem;

        .cardTags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.3rem;

          p {
            padding-inline: 0.8rem;
            padding-block: 0.2rem;
            border-radius: 1rem;
            font-size: 0.7rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #ffffff;
          }
        }

        .cardDescription {
          padding-bottom: 1rem;
        }

        .cardAuthor {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            border-radius: 50%;
            width: 3rem;
          }

          div {
            line-height: 0.9;
            .authorName {
              color: var(--clr-accent);
              font-weight: bold;
            }
            small {
              font-size: small;
            }
          }
        }
      }
    }
  }
}

.plantations {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-block: 3rem;
  padding-block: 3rem;

  @media (width < 760px) {
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding-inline: 1rem;
  }

  img {
    border-radius: 50%;
    width: 15rem;
    padding: 3.5rem;
    background-color: var(--clr-accent);

    @media (width < 760px) {
      width: min(20rem, 100%);
    }
  }

  .plantationsInfo {
    max-width: 42ch;
    display: flex;
    flex-direction: column;

    @media (width < 760px) {
      align-items: center;
      text-align: center;
    }

    & > * {
      padding-bottom: 1rem;
    }
    h2 {
      text-align: start;
    }

    p {
      padding-bottom: 2rem;
    }

    button {
      align-self: flex-end;
      background-color: var(--clr-accent);
      padding-inline: 1rem;
      padding-block: 0.5rem;
      border-radius: 2rem;
      border: 1px solid transparent;
      transition: all 0.3s ease-in-out;

      @media (width < 760px) {
        align-self: center;
      }

      &:hover,
      &:focus-visible {
        cursor: pointer;
        color: var(--clr-accent);
        background-color: #ffffff;
        border: 1px solid var(--clr-accent);
      }
    }
  }
}

.footer {
  width: 100%;

  background-color: var(--clr-accent);
  color: white;
  padding-block: 3rem;

  .footerOuterContainer {
    min-width: min(70rem, 100%);
    display: flex;
    justify-self: center;
    justify-content: space-between;

    @media (width < 1150px) {
      padding-inline: 1rem;
    }

    a {
      color: white;
      display: block;
    }

    .footerAbout {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      h2 {
        text-align: start;
      }

      p {
        max-width: 60ch;
      }

      .footerContact {
        font-weight: var(--fw-bold);

        a {
          img {
            display: inline-block;
            width: 0;
            opacity: 0;
            overflow: hidden;
            transform: translateX(-8px);
            transition: all 0.3s ease;
          }

          &:hover,
          &:focus-visible {
            img {
              width: 0.8rem;
              opacity: 1;
              margin-right: 0.5rem;
              transform: translateX(0);
            }
          }
        }
      }
    }

    .footerNavigation {
      display: grid;

      @media (width < 760px) {
        display: none;
      }

      a {
        padding-block: 1rem;
      }
    }
  }
}
